.main {
  width: 70%;
  margin: 0 auto;
}
.heading{
  text-align: center;
}
.container{
  background-color: antiquewhite;
  display: grid;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  max-width: 100%;
}
.text{
font-size: 25px;
display: inline-block;
}
.input{
  width: 20%;
  height: 50%;
  border-radius: 10px;
}
.countValueStyle{
margin-left: 2%;
font-size: 20px;
font-weight: bold;
}
.buttonStyle{
    color: black;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}

.toggleButton{
  width: 20%;
  margin: 18px auto;
}